@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
	color: #777;
	font-weight: bold;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body {
	font-family: arial,helvetica;
	color: #333;
}
.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1 {
	font-size: 6em;
}
p {
	font-size: 2em;
}
.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.sun {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 70;
	width: 200px;
	height: 200px;
	padding: 5px;
	background-color: white;
	border-bottom-left-radius: 100%;
}
h2 {
	font-family: "Playfair Display", Georgia, serif;
	color: white;
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
	text-align: right;
}
#curvedText {
	height: 200px;
	width: 200px;
	position: absolute;
	fill: white;
	float: right;
	z-index: 10;
}
.icon {
	height: 40%;
	width: 40%;
	float: right;
	margin-right: 25px;
	margin-top: 25px;
	z-index: 100;
}
.iconAnchor {
	position: relative;
	display: inline-block;
	width: 200px;
	z-index: 100;
}
.section {
	text-align: left;
}
.menuListItem {
	float: left;
}
a.alwaysBlack {
	color: black;
}
.bottomPadding {
	padding-bottom: 6px;
}
.projectLink {
	color: #777;
	margin-top: 3px;
	margin-right: 2px;
	padding-right: 3px;
	padding-top: 2px;
	text-align: center;
	font-family: Signika, sans-serif;
	font-weight: 500;
	font-size: 14px;
}
.noFloat {
	float: none;
}
#menu li a {
}
#menu li a:hover, #menu li.active a {
	color: #4B939A;
/*	color: #393F73;  */
}
button:focus {
	outline:0;
}
.fp-viewing-hello #menu {
	position: absolute;
	top: 30vh;
	left: 15%;
	height: 200px;
	z-index: 70;
	margin: 0 200px 0 0;
	padding: 0 220px 0 0;
	width: auto;
	border-bottom: 1px solid rgba(51, 39, 45, 0.2);
	font-size: 24px;
}
.fp-controlArrow {
	top: 85%;
}
.fp-controlArrow.fp-next {
	margin-top: 0;
	width: 500px;
	height: 48px;
	left: 32.5%;
	right: initial;
	border: 1px solid #4B939A;
	padding: 3px 15px 2px 15px;
    background-color: #4B939A;
	font-family: Signika, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
    color: white;
}
.fp-controlArrow.fp-next:after {
	content: "▶\FE0E";
	font-size: 10px;
	padding-left: 10px;
}
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  background-color: #295f65;
}
.hvr-sweep-to-right {
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background: #295f65;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
}
/* Sweep */
@-webkit-keyframes hvr-sweep {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(235%);
    transform: translateX(235%);
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}
@keyframes hvr-sweep {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(235%);
    transform: translateX(235%);
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}
/*.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-animation-name: hvr-sweep;
  animation-name: hvr-sweep;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
*/

.fp-controlArrow.fp-prev {
	background: none;
	border: none;
	margin-top: 4px;
	left: 33%;
	width: 40px;
	color: #4B939A;
}
.fp-controlArrow.fp-prev:after {
	content: "◀\FE0E";
	font-size: 15px;
	padding-left: 10px;
}
.fp-controlArrow.fp-prev:hover {
	color: black;
}
#menu {
	position: absolute;
	top: 1vh;
	left: 4%;
	height: 80px;
	z-index: 70;
	margin: 0;
	font-size: 18px;
	font-family: "Playfair Display", Georgia, serif;
	border-bottom: 1px solid rgba(51, 39, 45, 0);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fp-viewing-hello #myname {
	margin-bottom: 35px;
}
.hello {
	font-size: 1.5em;
	margin-bottom: 10px;
	padding: 0;
	border-bottom: none;
	line-height: 1.7em;
}
#backer {
	position: fixed;
	background-color: #FBF6F3;
	width: 100%;
	height: 110px;
	z-index: 60;
	top: 0;
	left: 0;
}

.indented {
	padding-left: 50px;
}
.ptfcoverheadline {
	font-family: "Playfair Display", Georgia, serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: black;
}
.ptfcoverdate {
	font-family: Signika, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}
.ptfblurb {
	font-family: "Playfair Display", Georgia, serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 34px;
	color: #333;
	margin-top: 5px;
}
.ptfimage {
	margin-left: 50px;
}
.ptfimageoverlay {
	position: absolute;
	top: 80px;
	right: 34px;
}
.ptfdesc {
	float: left;
	margin-left: 100px;
	margin-top: 146px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}
.ptfcover {
	margin-top: 0;
	margin-right: 40px;
	margin-bottom: 10px;
	padding-left: 0;
	list-style: none;
}
.ptfcoveritem {
	padding-bottom: 6px;
}
.coverfield {
	width: 100px;
	margin-right: 10px;
	float: left;
	font-family: Signika, sans-serif;
	font-size: 9px;
	line-height: 24px;
	font-weight: 300;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.covercontents {
	text-align: left;
	padding-left: 110px;
}
.covercontents.bold {
	font-weight: 600;
}


